{% extends 'base.html.twig' %}

{% block title %}A propos{% endblock %}

{% block body %}
    <h1>A propos</h1>

    <section>
        <h2>Qui suis-je ?</h2>
        <p>Je suis Floryss Rubechi, développeuse web de métier et de passion. Je connais des technos sympas comme symfony et angular.</p>
        <p>Salariée depuis septembre 2022, j'ai travaillé sur pas mal de projets différents mais jamais avec symfony.
        C'est pourtant un framework que j'aime beaucoup, et avec lequel j'ai construit ce site.</p>
        {# todo lien github ici #}
        <p>Vous voulez en savoir plus sur moi ? Allez voir <a href="https://www.linkedin.com/in/floryss-rubechi/">mon linkedin</a> !</p>
    </section>

    <section>
        <h2>Pourquoi un site de recettes ?</h2>
        <p>Ce site de partage de recettes a été imaginé et créé par moi-même.</p>
        <p>Il combine un mélange de deux choses que j'aime : le développement web et la cuisine.</p>
        <p>Je suis particulièrement fière d'avoir fait la recherche de recettes et sa pagination.</p>
        <p>Merci d'avoir pris le temps de visiter mon site.</p>
        <p>A bientôt !</p>
    </section>
{% endblock %}
