{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/owlcarousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/owlcarousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/carousel.css">
{% endblock %}

{% block start_javascripts %}
    {# carousel owl #}
    <script src="owlcarousel/owl.carousel.min.js"></script>
{% endblock %}

{% block body %}
    <h1>Bienvenue</h1>

    <section>
        <p>Je cherche une recette</p>
        <a href="{{ path('app_search') }}"><button type="button">Par ici !</button></a>
    </section>

    {# Carrousel #}
    <section>
        {% if recipes|length > 0%}
            <div class="owl-carousel owl-theme">
                {% for recipe in recipes %}
                    {% include "/bloc/recipe.html.twig" with {'recipe': recipe, 'listMode': true, 'editable': false} %}
                {% endfor %}
            </div>
        {% else %}
            <p>Aucune recette n'a été publiée.</p>
        {% endif %}
    </section>

    {# ligne de flotaison #}

    <section>
        <p>Crée tes recettes !</p>
        <a href="{{ path('app_myrecipes') }}"><button type="button">C'est parti !</button></a>
    </section>

    <section>
        <p>Qu'est-ce qu'on mange ?</p>
        <a href="{{ path('app_random') }}"><button type="button">J'ai faim !</button></a>
    </section>

    {# > planificateur (to do) #}
    <section>
        <p>J'ai besoin de planifier</p>
        <a href="#"><button type="button">Mon calendrier</button></a>
    </section>

    {# > recap courses (to do) #}
    <section>
        <p>Qu'est ce que je dois acheter ?</p>
        <a href="#"><button type="button">Ma liste de courses</button></a>
    </section>
{% endblock %}

{% block end_javascripts %}
    {# carousel owl #}
    <script>
        $(document).ready(function(){
            $(".owl-carousel").owlCarousel({
                items:3,
                responsive:{
                    0:{items:1},
                    600:{items:2},
                    900:{items:3},
                    1200:{items:4}
                }
            });
        });
    </script>
{% endblock %}
