{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <h1>Mentions légales</h1>

    <section>
        <h2>Généralités</h2>
        <p>Création et maintenance du site : Floryss Rubechi</p>
        <p>Adresse : {# todo à remplir #}</p>
        <p>Adresse email : floryss.rubechi@gmail.com</p>
        <p>Propriété intellectuelle des images : Floryss Rubechi</p>
        <p>Tous les textes du site appartiennent à Floryss Rubechi,
        à l'exception au contenu des recettes qui appartiennent au créateur de la recette.</p>
    </section>

    <section>
        <h2>Hébergement</h2>
        {# todo à remplir si je fais héberger le site #}
        <p>Nom de l'hébergeur : </p>
        <p>Raison sociale : </p>
        <p>Adresse : </p>
        <p>Numéro de téléphone : </p>
    </section>

    <section>
        <h2>Règlement sur les données personnelles</h2>
        <p>Aucune donnée personnelle n'est collectée sur ce site internet.
        Le pseudo utilisateur est la seule donnée définissant un utilisateur,
        il est modifiable à tout moment dans le compte utilisateur.</p>
    </section>
{% endblock %}
