:root {
    --grey: #F3F5F3;
    --grey-dark: #C8CBC8;
    --blue: #4B6289;
    --orange: #FFAC00;
    --brown: #986358;
}

body {
    background-color: var(--grey);
    font-family: 'Roboto', 'Open Sans', 'Arial';
    color: black;
}

/** region Navigation **/
header {
    background-color: var(--blue);
    height: 50px;
}

header nav {
    height: 100%;
}

header ul {
    height: 100%;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

header li {
    display: inline;
}

header a {
    color: var(--grey);
    text-decoration: none;
}
/** endregion Navigation **/


/** region Section **/
h1 {
    text-align: center;
}
section {
    margin: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 6px var(--grey-dark);
    padding: 10px;
}
/** endregion Navigation **/

/** region buttons **/
button {
    cursor: pointer;
    border-radius: 20px;
    height: 40px;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    background-color: var(--orange);
    color: white;
}
button:hover {
    box-shadow: 3px 3px 6px var(--grey-dark);
}
a button {
    text-decoration: none;
}
p.param {
    border-radius: 20px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    background-color: var(--grey-dark);
    color: white;
    display: inline;
    margin-bottom: 10px;
}
/** endregion buttons **/

/** region Forms **/
form {
    margin-top: 20px;
    margin-bottom: 20px;
}

input, textarea {
    width: 100%;
    display: block;
    margin-bottom: 15px;
}
input[type='checkbox'] {
    display: inline;
    width: auto;
}

form.form-center {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}
form.form-center button[type='submit'] {
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 10px;
}
/** endregion Forms **/

/** region Containers and items **/
.flex-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 20px;
}
.flex-container.space-between {
    justify-content: space-between;
}
.flex-container .item {
    width: 45%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 6px var(--grey-dark);
}
.flex-container .item .img-container {
    max-width : 100%;
    max-height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.flex-container .item .img-container img {
    max-width : 100%;
    max-height: 100%;
    transform: translateY(-25%);
}
.flex-container .item-container {
    padding: 15px;
}
.item-container .first-line {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}
.item-container .first-line * {
    margin: 0;
}
.paginator {
    text-align: right;
    margin-right: 15px;
}
/** endregion Containers and items **/

/** region Recipe page **/
.recipe-container .img-container {
    width: auto;
    height: 300px;
    overflow: hidden;
    border-radius: 10px;
    margin: 15px;
}
.recipe-container .img-container img {
    max-width : 100%;
    transform: translateY(-25%);
}
.recipe-container .item-container {
    margin: 15px;
}
.recipe-container .end-recipe {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.recipe-container section {
    padding: 20px;
    margin: 0;
}
.recipe-container section h3 {
    margin: 0;
}
.recipe-container section.ingredients {
    width: 30%;
}
.recipe-container section.ingredients ul {
    padding: 0;
    margin-bottom: 0;
}
.recipe-container section.ingredients li:last-of-type {
    margin-bottom: 0;
}
.recipe-container section.preparation {
    width : 58%;
}
.recipe-container section.preparation h3 {
    margin-bottom: 20px;
}
.recipe-container section.preparation ul {
    list-style-type: none;
    padding-left: 0;
}
.recipe-container section.preparation li {
    margin-bottom: 40px;
}
.recipe-container section.preparation li:last-of-type {
    margin-bottom: 0px;
}
/** endregion Recipe page **/

/** region utils **/
.inline {
    display: inline;
}

.m-10 {
    margin: 10px;
}
.mt-10 {
    margin-top: 10px;
}
.mr-10 {
    margin-right: 10px;
}
.ml-10 {
    margin-left: 10px;
}
.mb-10 {
    margin-bottom: 10px;
}

.p-10 {
    padding: 10px;
}
.pt-10 {
    padding-top: 10px;
}
.pr-10 {
    padding-right: 10px;
}
.pl-10 {
    padding-left: 10px;
}
.pb-10 {
    padding-bottom: 10px;
}

/** endregion utils **/
