{% extends 'base.html.twig' %}

{% block title %}{{ recipe.name }}{% endblock %}

{% block body %}
    <div class="recipe-container">
        {% include "/bloc/recipe.html.twig" with {'recipe': recipe, 'listMode': false, 'editable': false} %}
    </div>
{% endblock %}
