<footer>
    <nav>
        <ul>
            <li><a href="{{ path('app_mentions') }}">Mentions légales</a></li>
            <li><a href="{{ path('app_aboutUs') }}">A propos</a></li>
        </ul>
    </nav>
</footer>
